<!DOCTYPE html>
<html>
  <head>
    <title>Snapshot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body class="body">
    <script type="text/javascript">
      window.login_imageURL = "<%= image_url('login_image.png') %>"
    </script>
    <script type="text/javascript">
      window.header_logoURL = "<%= image_url('header_logo.png') %>"
    </script>
    <script type="text/javascript">
      window.search_iconURL = "<%= image_url('search_icon.png') %>"
    </script>
    <script type="text/javascript">
      window.upload_iconURL = "<%= image_url('upload_icon.png') %>"
    </script>
      <script type="text/javascript">
      window.profile_iconURL = "<%= image_url('profile_icon.png') %>"
    </script>
    <%= yield %>
  </body>
</html>
